<!--Sidebar start-->
<section class="dashboard-section">
  <div class="container">
    <!--Company Logo And Title start-->
    <div class="logo-title mb-4">
      <img src="assets/images/Skywaves-logo.webp" alt="cmplogo" />
      <span><h6 class="mb-0"><span>SkyWaves</span></h6></span>
    </div>
    <!--Company Logo title end-->
    <!--Sidebar start-->
    <div class="sidebar-nav">
      <a href=""><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
      <a href=""><i class="fas fa-cogs"></i><span>NFT Marketplace</span></a>
      <a href=""><i class="fas fa-table"></i><span>Tables</span></a>
      <a href=""><i class="fas fa-columns"></i><span>Kanban</span></a>
      <a href=""><i class="fas fa-user"></i><span>Profile</span></a>
      <a href=""><i class="fas fa-sign-in-alt"></i><span>Sign In</span></a>
      <a routerLink="/signup"><i class="fas fa-user-plus"></i><span>Sign Up</span></a>
    
    </div>
    <!--Sidebar end-->
  </div>

</section>

